﻿@model IEnumerable<WebApplication1.Student>

<style type="text/css">

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h3>Students</h3>

<table style="width: 100%;">
    <tr>
        <th>FIO</th>
        <th>Birthday</th>
        <th>Enter date</th>
        <th>Age</th>
        <th>Name of group</th>
        <th>GroupIndex</th>
        <th>Specialization</th>
        <th>Performance</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@($"{s.LastName} {s.FirstName} {s.Fathersname}")</td>
            <td>@($"{s.Birthday}")</td>
            <td>@($"{s.DateEnter}")</td>
            <td>@($"{s.Age}")</td>
            <td>@($"{s.NameOfGroup}")</td>
            <td>@($"{s.Index_of_group}")</td>
            <td>@($"{s.Specialization}")</td>
            <td>@($"{s._perform}")</td>
        </tr>
    }
</table>